/* nav-links.module.css */

.link {
  display: flex;
  height: 48px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 6px;
  background-color: #f9fafb;

  /*background-color: rgba(56, 212, 48, 0.85);
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/

  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  text-decoration: none;
  transition: all 0.2s ease;
}

.link:hover {
  background-color: #e0f2fe;
  color: #38d430;
}

.active {
  background-color: #e0f2fe;
  color: #38d430;
}

.icon {
  width: 24px;
}

.linkText {
  display: none;
}

@media (min-width: 768px) {
  .link {
    flex: none;
    justify-content: flex-start;
    padding: 8px 12px;
  }

  .linkText {
    display: block;
  }
}