.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 16px 12px;
  
  /*background-color: rgba(56, 212, 48, 0.85);
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/

}

.logoLink {
  margin-bottom: 8px;
  display: flex;
  height: 80px;
  align-items: flex-end;
  justify-content: flex-start;
  border-radius: 7px;
  background-color: rgba(0, 15, 159, 0.85);
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px;
  margin-top: -12px;
}

.logoContainer {
  width: 128px;
  color: white;
}

.navContent {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.spacer {
  display: none;
  height: auto;
  width: 100%;
  flex-grow: 1;
  border-radius: 7px;
  background-color: #f9fafb;
}

.signOutButton {
  display: flex;
  height: 48px;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 7px;
  background-color: #f9fafb;
  
  /*background-color: rgba(56, 212, 48, 0.85);
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/

  padding: 12px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.signOutButton:hover {
  background-color: #e0f2fe;
  color: #000f9f;
}

.buttonText {
  display: none;
  color: #000000;
}

.icon {
  width: 24px;
  height: 24px;
  color: #000f9f;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.2);
  color: #000f9f;
}

/* Media Query para pantallas medianas (md: 768px) */
@media (min-width: 768px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }

  .logoLink {
    height: 160px;
  }

  .logoContainer {
    width: 160px;
    
  }

  .navContent {
    flex-direction: column;
    gap: 8px;
  }

  .spacer {
    display: block;
  }

  .signOutButton {
    flex: none;
    justify-content: flex-start;
    padding: 8px 12px;
  }

  .buttonText {
    display: block;
    color: #000000;
  }
}